extends layout

block content
  .container
    header.page-header
      h1.page-title Send us your application!
      h3  Personal information
      .form-group
        form#EmploymentApplicationTransportHub(action='/application/new', method='post', onsubmit='return ValidateForm(this);')
          .row
            .col-sm-6
              label First name *
              input.form-control(name='First_Name', type='text', maxlength='50', required='')
            .col-sm-6
              label(for='Last_Name') Last name *
              input.form-control(name='Last_Name', type='text', maxlength='50', required='')
          br
          label(for='ssn') Enter your last four of SSN *
          input.form-control(name='ssn', type='text', maxlength='100', required='')
          
          h3  Address 
          label(for='street') Street *
          input.form-control(name='Street', type='text', maxlength='50', required='')
          br
          .row
            .col-sm-6
              label(for='city') City *
              input.form-control(name='city', type='text', maxlength='50', required='')
            .col-sm-6
              label(for='state') State *
              input.form-control(name='state', type='text', maxlength='50', required='')
          .row
            .col-sm-6
              label(for='zip') Zip code *
              input.form-control(name='zip', type='text', maxlength='50', required='')
            .col-sm-6
              label(for='address') PO Box if used for mailing address
              input.form-control(name='address', type='text', maxlength='100')
                
          h3  Education 
          
          label(for='school') School
          input.form-control(name='school', type='text', maxlength='50')
          br
          label(for='degree') Degree
          input.form-control(name='degree', type='text', maxlength='50')
          br
          .row
            .col-sm-6
              label(for='Yeargrad') Graduation date
              input.form-control(name='Gdate', type='date')
            .col-sm-6
              label(for='major') Major/area of study
              input.form-control(name='major', type='text', maxlength='50')
          br
          .row
            .col-sm-6
              label(for='Email_Address') Email *                
              input.form-control(name='Email_Address', type='text', maxlength='100', required='')
            .col-sm-6
              label(for='Portfolio') Linkedin, website, github
              input.form-control(name='Portfolio', type='text', maxlength='255', value='http://')
          br
          label(for='Position') Position you are applying for *
          input.form-control(name='Position', type='text', maxlength='100', required='')
          br
          label(for='Salary') Desired salary
          input.form-control(name='Salary', type='text', maxlength='50')
          br
          .row
            .col-sm-4
              label(for='StartDate') When can you start?
              input.form-control(name='StartDate', type='text', maxlength='50')
            .col-sm-4
              label(for='Phone') Phone *
              input.form-control(name='Phone', type='text', maxlength='50', required='')
            .col-sm-4
              label(for='Fax') Fax
              input.form-control(name='Fax', type='text', maxlength='50')
          br
          label(for='Relocate') Are you willing to relocate?
          input(name='Relocate', type='radio', value='Yes', checked='checked') 
          | Yes      
          input(name='Relocate', type='radio', value='No') 
          | No
          input(name='Relocate', type='radio', value='NotSure') 
          | Not sure
          br
          label(for='Organization') Last company you worked for
          input.form-control(name='Organization', type='text', maxlength='100')
          br
          label(for='Resume') Resume
          textarea.form-control(name='Resume', rows='7')
          br
          script.
          
          input.btn.btn-primary.btn-block(name='skip_submit', type='submit', value='Send Application')
            

block scripts
  script(type='text/javascript').
    function ValidateForm(frm) {
    if (frm.First_Name.value == "") { alert('First name is required.'); frm.First_Name.focus(); return false; }
    if (frm.Last_Name.value == "") { alert('Last name is required.'); frm.Last_Name.focus(); return false; }
    if (frm.Email_Address.value == "") { alert('Email address is required.'); frm.Email_Address.focus(); return false; }
    if (frm.Email_Address.value.indexOf("@") < 1 || frm.Email_Address.value.indexOf(".") < 1) { alert('Please enter a valid email address.'); frm.Email_Address.focus(); return false; }
    if (frm.Position.value == "") { alert('Position is required.'); frm.Position.focus(); return false; }
    if (frm.snn.value == "") { alert('SSN is required.'); frm.ssn.focus(); return false; }
    if (frm.city.value == "") { alert('city is required.'); frm.city.focus(); return false; }
    if (frm.state.value == "") { alert('state is required.'); frm.state.focus(); return false; }
    if (frm.zip.value == "") { alert('zip is required.'); frm.zip.focus(); return false; }
    if (frm.Phone.value == "") { alert('Phone is required.'); frm.Phone.focus(); return false; }
    return true; }