extends layout

block content
  #join-view
    .row
    h1.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4 Join Room
    p.lead.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4 Creat a room or join a room
    form.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4(role='form', action="/action/chat",method="post")
      #invalid-password-message.span(hidden) Invalid Password
      .form-group
          input.form-control#room-name(type='text', name="name", placeholder='Enter Room #' required)
      .form-group
        input.form-control#room-password(type='password', name="password", placeholder='Enter Room Password' required)
      button.btn.btn-default#submit(type='button' role='button') Create/Join Room
      a.btn.btn-primary(type='button' role='button' href='/') Cancel
  #chat-view(hidden)
    #vid-streams.row
      #my-camera.camera.col-md-4.col-md-offset-2
        video
    .row
      #messages.col-xs-8.col-xs-offset-2
    .row
      #message-box-wrapper.col-xs-8.col-xs-offset-2
        .input-group
          input#message-box.form-control
          span.input-group-btn
            button#message-button.btn.btn-default(type='button') Submit


block scripts
  script(src='/javascripts/peer.js')
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/adapter.js')
  script(src='/javascripts/chat.js')
  