extends layout

block content
  #messages(contenteditable)
  #l-video.col-md-5.col-md-offset-1
  #r-video.col-md-5.col-md-offset-1
block scripts
  script(src="//cdn.peerjs.com/0.3/peer.min.js")
  script(src='../public/javascripts/chat.js')