extends layout

block content
  .row
    #my-camera.camera.col-md-4.col-md-offset-2
      video
    #their-camera.col-md-4.col.col-md-offset2
      video
      
  .row
    #messages.col-xs-8.col-xs-offset-2
  .row
    #message-box-wrapper.col-xs-8.col-xs-offset-2
      .input-group
        input#message-box.form-control
        span.input-group-btn
          button#message-button.btn.btn-default(type='button') Submit


block scripts
  script(src='../public/javascripts/peer.js')
  script(src='../public/javascripts/chat.js')
  