extends layout

block content
  .container
    header.page-header
        h1.page-title Complaint Form
        h3  Our Customers Are Important
        p
          | Customers are the most important people for any organisation.
          | They are the resource upon which the success of the business depends. 
          br
          | We take our customer's complaint seriously
        p
          | Please send us details about the incident you would like to report. Our Complaint Center will 
          | analyze your complaint and take the appropriate measures 
          br
          | in order that the reported situation
          | will not occur at any other time in the future.
        .form-group
          form#ComplaintTransportHub(action='/submitComplaint', method='post')
            .row
              .col-sm-6
                label(for='First_Name') First name *
                input.form-control(name='First_Name', type='text', maxlength='50', required='')
              .col-sm-6
                label(for='Last_Name') Last name *
                input.form-control(name='Last_Name', type='text', maxlength='50', required='')
            br  
            h4  How we can reach you 
            .row
              .col-sm-6
                label(for='PhoneNum') Phone number *
                input.form-control(name='phoneNum', type='text', maxlength='50', required='')
              .col-sm-6
                label(for='emailaddress') Email Address *
                input.form-control(name='emailaddress', type='text', maxlength='50', required='')
            br
            label(for='street') Street 
            input.form-control(name='Street', type='text', maxlength='50')
            br
            .row
              .col-sm-4
                label(for='city') City 
                input.form-control(name='city', type='text', maxlength='50')
              .col-sm-4
                label(for='state') State 
                input.form-control(name='state', type='text', maxlength='50')
              .col-sm-4
                label(for='zip') Zip code 
                input.form-control(name='zip', type='text', maxlength='50')
            br
            label(for='pobox') PO Box if used for mailing address
            input.form-control(name='pobox', type='text', maxlength='100')
            br
            label(for='contact') How you would like us to contact you
            br
            input(name='contact', type='radio', value='Email', checked='checked')
            |  Email  
            br
            input(name='contact', type='radio', value='Phone')
            |  Phone  
            br
            input(name='contact', type='radio', value='Mail')
            |  Requler Mail  
            br
            input(name='contact', type='radio', value='Any')
            |  no preference
            br
            br
        
            label(for='complain') Complain/suggestion
            textarea.form-control(name='complain', rows='7')
            br
            
            input.btn.btn-primary.btn-block(name='Sent', type='submit', value='Send Complain')
