extends layout

block content

  .container
  title Contact Us
  h1 Contact Us
  p Send us a message below.
  p
  .row
    .col-md-4
      form(method='post', action='//flipmail.co/api/fAB9a3bjgAPrDVJfU2UN')
        input(type='hidden', name='_subject', value='Alpha Website')
        input(type='hidden', name='_replyto', value='simi510@gmail.com')
        input(type='hidden', name='_after', value='/index')
        input(type='text', name='_honey', value='', style='display:none')
        label Name : 
        input.form-control(type='text', name='name', placeholder='Your name')
        br
        label Email: 
        input.form-control(type='email', name='email', placeholder='Your email')
        br
        label Comment: 
        textarea.form-control(name='message', rows='5', placeholder='Your message')
        br
        button.btn.btn-primary.btn-block(type='submit') Submit Form
      br
      br
      img#head.img-responsive.center-block(src='images/contact.jpg', alt='Responsive image')
    .col-md-2
      h1 Email:
      |       sample@example.com 
      br
      h1 Phone: 
      |       (510)-555-5555
      br
      h1 Fax: 
      |       (510)-555-5556
      br
      h1 Skype: 
      |       ExampleUser
      h1 Address: 
      a(href='https://goo.gl/maps/Ju4YpMPRAuo')
        | 25800 Carlos Bee Blvd
        br
        |  Hayward, CA 94542
    .col-md-6
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d674.6746242464287!2d-122.04776574877395!3d37.65559382252634!2m3!1f270!2f41.49603439153316!3f0!3m2!1i1024!2i768!4f20!3m3!1m2!1s0x808f938bac8d448b%3A0xbb5e0e05ccf4fd12!2sCalifornia+State+University%2C+East+Bay!5e1!3m2!1sen!2sus!4v1457195077314', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
