extends layout

block content
  .container
    .row
      // Article main content
      article.col-sm-9.maincontent
        header.page-header
          h1.page-title Contact us
        p
          | We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and I will get back to you as soon as I can. Please allow a couple days for me to respond.
        br
        form(method='post', action='//flipmail.co/api/fAB9a3bjgAPrDVJfU2UN')
          input(type='hidden', name='_subject', value='Alpha Website')
          input(type='hidden', name='_replyto', value='simi510@gmail.com')
          input(type='hidden', name='_after', value='/index')
          input(type='text', name='_honey', value='', style='display:none')
          .row
            .col-sm-4
              input.form-control(type='text', name='name', placeholder='Name')
            .col-sm-4
              input.form-control(type='text', name='email', placeholder='Email')
            .col-sm-4
              input.form-control(type='text', name='message', placeholder='Phone')
          br
          .row
            .col-sm-12
              textarea.form-control(placeholder='Type your message here...', rows='9')
          br
          .row
            .col-sm-6
              label.checkbox
                input(type='checkbox')
                |  Sign up for newsletter
            .col-sm-6.text-right
              input.btn.btn-action(type='submit', value='Send message')
          br
      // /Article
      // Sidebar
      aside.col-sm-3.sidebar.sidebar-right
        .widget
          h4 Address
          address
            a(href='https://goo.gl/maps/Ju4YpMPRAuo')
            | 25800 Carlos Bee Blvd Hayward, CA 94542
          h4 Phone:
          address
            | (713) 791-1414
          h4 Email:
          address
            | contact@alfa.com 
          h4 Skype:
          address
            | alfaSkype

      // /Sidebar
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d674.6746242464287!2d-122.04776574877395!3d37.65559382252634!2m3!1f270!2f41.49603439153316!3f0!3m2!1i1024!2i768!4f20!3m3!1m2!1s0x808f938bac8d448b%3A0xbb5e0e05ccf4fd12!2sCalifornia+State+University%2C+East+Bay!5e1!3m2!1sen!2sus!4v1457195077314" width="100% !important" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  // /container



block scripts
  // Google Maps
  //script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
  //script(src='javascripts/google-map.js')