extends layout

block content
  link(href='stylesheets/map.css', type='text/css', rel='stylesheet')
  .container
    header.page-header
      h1.page-title Directions
    .col-md-3
        #directionsPanel
          a#useGPS(class="btn btn-info btn-block" href='#geoLocation') Use Current Location
          .directionInputs
            form
              p
                label Origin
                input#dirSource.form-control(type='text', value='')
              p
                label Destination
                input#dirDestination.form-control(type='text', value='')
              a#getDirections(href='#getDirections' class="btn btn-success btn-block") Get Directions
              br
              br
              a#paneReset(href='#reset' class="btn btn-danger btn-block") Reset
          #directionSteps
            p.msg Direction Steps Will Render Here
          a#paneToggle.out(href='#toggleBtn')
    .col-md-9
        #mapCanvas

block scripts
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDL1zJXtvfGQ3V59JGz5-8HxHleWIv8znE')
  script(type='text/javascript', src='javascripts/map.js')


