extends layout

block content

  .container
    .col-md-3
    .col-md-6
      title Alpha's Mailing List
      h1 Join our email list
      p To join our email list, enter your name and email address below.
    
      .form-group
        form.form-horizontal(action="/action/email", method='post', role='form')
          //input(type='hidden', name='action', value='add')
          label Email: 
          input#email-field.form-control(type='email', name='email', placeholder='Email')
          br
          label First Name: 
          input#firstname-field.form-control(type='text', name='firstname', placeholder='First name')
          br
          label Last Name: 
          input#lastname-field.form-control(type='text', name='lastname', placeholder='Last name')
          br
          input.btn.btn-primary.btn-block(type='submit', value='Join Now')
    .col-md-3

    //script(type='text/javascript', src='/javascripts/email.js')
