extends layout

block content
    link(rel='stylesheet', href='/stylesheets/pricing-table.css')

    // Header
    header#head
      .container
        .row
          h1.lead 
            b Welcome to Transport-Hub
          p.tagline
            | Manage your transportation costs
          
    // /Header
    // Intro
    .container.text-center
      br
      br
      h2.thin The best place to track your transportation costs
      p.text-muted
        | The difference between involvement and commitment is like an eggs-and-ham breakfast:
        br
        | 			the chicken was involved; the pig was committed.
    // /Intro
    // Highlights - jumbotron

    .jumbotron.top-space
      .container
        .package
          .name Basic
          .price €0
          .trial Totally free
          hr
          ul
            li Quotes
            li
              strong No
              |         Timesheet
            li
              strong No
              |         Trip tickets
            li Directions
            li Mailing list
            li
              strong No
              |         Live chat
            
        .package.brilliant
          .name Limited
          .price €2
          .trial Available for a month
          hr
          ul
            li Quotes
            li
              strong Limited
              |         Timesheet
            li
              strong Limited
              |         Trip tickets
            li Directions
            li Mailing list
            li
              strong Limited
              |         Live chat
        .package
          .name Brilliant
          .price €5
          .trial Free 30 day trial
          hr
          ul
            li Quotes
            li
              strong Unlimited
              |         Timesheet
            li
              strong Unlimited
              |         Trip tickets
            li Directions
            li Mailing list
            li
              strong Unlimited
              |         Live chat


    .container
      h2.text-center.top-space Frequently Asked Questions
      br
      .row
        .col-sm-6
          h3 Can I be updated with your new features?
          p
            | Of course! You can subscribe to our mailing list.
        .col-sm-6
          h3 Nice website. Where do I register?
          p
            | Click in the top-right button that says SIGN IN/ SIGN UP
      // /row
      .row
        .col-sm-6
          h3 Can I use it to build a site for my client?
          p
            | Yes, you can. You may use this template for any purpose, just don't forget about the 
            a(href='http://creativecommons.org/licenses/by/3.0/') license
            | ,
            | 					which says: "You must give appropriate credit", i.e. you must provide the name of the creator and a link to the original template in your work.
        .col-sm-6
          h3 Can you customize this template for me?
          p
            | Yes, I can. Please drop me a line to sergey-at-pozhilov.com and describe your needs in details. Please note, my services are not cheap.
      // /row
    .jumbotron.top-space
      .container
        h3.text-center.thin Reasons to use this website
        .row
          .col-md-3.col-sm-6.highlight
            .h-caption
              h4
                i.fa.fa-cogs.fa-5
                | Reliable
          .col-md-3.col-sm-6.highlight
            .h-caption
              h4
                i.fa.fa-flash.fa-5
                | Updated fuel prizes
            
          .col-md-3.col-sm-6.highlight
            .h-caption
              h4
                i.fa.fa-heart.fa-5
                | Created with love
          .col-md-3.col-sm-6.highlight
            .h-caption
              h4
                i.fa.fa-smile-o.fa-5
                | Authors' support