extends layout

block content
  .row
    h1.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4 Join Room
    p.lead.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4 Creat a room or join a room
    form.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4(role='form', action="/action/chat",method="post")
      .form-group
          input.form-control#room-name(type='text', name="name", placeholder='Enter Room #' required)
      .form-group
        input.form-control#room-password(type='password', name="password", placeholder='Enter Room Password' required)
      button.btn.btn-default#submit(type='submit') Create/Join Room
      a(href='/').btn.btn-primary(type="button") Cancel
block scripts
  script(type='text/javascript', src='../public/javascripts/register.js')