doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    script(src='//code.jquery.com/jquery-3.1.1.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    nav.navbar.navbar-default( role="navigation" )
      .navbar-header
          button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          a.navbar-brand(href="/") HR Hub
   
      #navbar-inverse.collapse.navbar-collapse
          ul#nav-buttons.nav.navbar-nav
            li: a( href="/quote") Quote
            li: a( href="#timesheet" ) Timesheet
            li.dropdown
              a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Trip Tickets 
                  span.caret
              ul.dropdown-menu( role="menu" )
                    li: a( href="/trip" ) New Ticket
                    li: a( href="/action/tickets" ) View Tickets
                    li: a( href="#" ) Edit Tickets
                    li: a( href="#" ) Delete Tickets
            li: a( href="/directions" ) Directions
            li: a( href="/email" ) Mailing List
            li: a( href="/action/chat") Live Chat
            li: a( href="/contact") Contact Us

          ul.nav.navbar-nav.navbar-right
            if (!user)
              li: a(href="/login") Login
              li: a(href="/register") Register
            if (user)
              #hidden-username(data-val= '#{user.username}' hidden)
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.profile-ava
                    img(alt='', src='img/avatar1_small.jpg')
                  span.username #{user.username}
                  b.caret
                ul.dropdown-menu.extended.logout
                  .log-arrow-up
                  li.eborder-top
                    a(href='/profile')
                      i.icon_profile
                      |  My Profile
                  li
                    a(href='/logout')
                      i.icon_key_alt
                      |  Log Out

          script.
            var url = window.location;
            // Will only work if string in href matches with location
            $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
            // Will also work for relative and absolute hrefs
            $('ul.nav a').filter(function() {
            return this.href == url;
            }).parent().addClass('active');
    header
      img.img-responsive(src='/images/smlheader.png', alt='Responsive image', id='head')
           

    .main-content.container-fluid
      block content
    footer
      img.img-responsive(src='/images/footer.png', alt='Responsive image', id='footer')
      script(src='/javascripts/main.js')

    block scripts


