extends layout

block content
  .container
    .row
      // Article main content
      article.col-xs-12.maincontent
        header.page-header
          h1.page-title Sign in
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
          .panel.panel-default
            .panel-body
              h3.thin.text-center Sign in to your account
              p.text-center.text-muted
                | Or if you don't have an account 
                a(href='/register') Register here
              hr
              form(role='form', action="/login",method="post")
                .top-margin
                  label
                    | Username/Email 
                    span.text-danger *
                  input.form-control(type='text', name="username")
                .top-margin
                  label
                    | Password 
                    span.text-danger *
                  input.form-control(type='password', name="password")
                hr
                .row
                  .col-lg-8
                    b
                      a(href='') Forgot password?
                  .col-lg-4.text-right
                    button.btn.btn-action(type='submit') Sign in


