extends layout

block content
    .row
      .col-md-3
      .col-md-3
        img.img-rounded.img-responsive(src='#{user.pic}', alt='')
      .col-md-3
        form(role='form', action="/action/profile", method="post",  enctype="multipart/form-data", style='max-width: 300px;')
          .form-group
            label Username
            input.username.form-control(type='text', name="username", value='#{user.username}', disabled='disabled')
          .form-group
            label Email
            input.email.form-control(type='text', name="email", value='#{user.email}')
          .form-group
            label Profile picture:
            input.file.form-control(type='file', name="image", value='#{user.pic}')
          .col-md-6
            a(href='/')
            button.btn.btn-primary(type="button", action='/', class="btn btn-warning btn-block") Cancel
          .col-md-6
            button.btn.btn-default(type='submit', class="btn btn-primary btn-block") Submit
          