extends layout

block content
  .row
    .col-sm-2.col-md-2
      img.img-rounded.img-responsive(src='../public/images/cat.jpg', alt='')
    .col-sm-4.col-md-4
      blockquote
        p Name
        small
          cite(title='Source Title')
            | Location 
            i.glyphicon.glyphicon-map-marker
      p
        i.glyphicon.glyphicon-envelope
        |  email
        br
        i.glyphicon.glyphicon-globe
        |  website
        br
        i.glyphicon.glyphicon-gift
        |  Age
    .col-sm-2.col-md-2
      img.img-rounded.img-responsive(src='http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg', alt='')
    .col-sm-2.col-md-4
      blockquote
        p Name
        small
          cite(title='Source Title')
            | Location  
            i.glyphicon.glyphicon-map-marker
      p
        i.glyphicon.glyphicon-envelope
        |  email
        br
        i.glyphicon.glyphicon-globe
        |  website
        br
        i.glyphicon.glyphicon-gift
        |  age