extends layout

block content
  // container
  .container
    .row
      article.col-xs-12.maincontent
        header.page-header
          h1.page-title Registration
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
          .panel.panel-default
            .panel-body
              h3.thin.text-center Register a new account!
              p.text-center.text-muted
                | Or if you already have an account 
                a(href='/login') Sign in here
              hr
              form(role='form', action="/register",method="post")
                .top-margin
                  label
                    | Username 
                    span.text-danger *
                  input.form-control(type='text', name="username" required)
                .top-margin
                  label
                    | Email 
                    span.text-danger *
                  input.form-control(type='email', name="email" required)
                  .row.top-margin
                    .col-sm-6
                      label
                        | Password 
                        span.text-danger *
                      input.form-control(type='password', name="password" required)
                    .col-sm-6
                      label
                        | Confirm Password 
                        span.text-danger *
                      input.form-control(type='password', name="confirmPassword" required)
                  hr
                  .row
                    .col-lg-8
                      label.checkbox
                        input(type='checkbox' required)
                        |                       I've read the 
                        a(href='#') Terms and Conditions
                    .col-lg-4.text-right
                      button.btn.btn-action(type='submit') Register


block scripts
  script(type='text/javascript', src='/javascripts/register.js')


    .container
      .row
        // Article main content
        article.col-xs-12.maincontent
          header.page-header
            h1.page-title Registration
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            .panel.panel-default
              .panel-body
                h3.thin.text-center Register a new account
                p.text-center.text-muted
                  | Lorem ipsum dolor sit amet, 
                  a(href='signin.html') Login
                  |  adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio.
                hr
                form
                  .top-margin
                    label First Name
                    input.form-control(type='text')
                  .top-margin
                    label Last Name
                    input.form-control(type='text')
                  .top-margin
                    label
                      | Email Address 
                      span.text-danger *
                    input.form-control(type='text')
                  .row.top-margin
                    .col-sm-6
                      label
                        | Password 
                        span.text-danger *
                      input.form-control(type='text')
                    .col-sm-6
                      label
                        | Confirm Password 
                        span.text-danger *
                      input.form-control(type='text')
                  hr
                  .row
                    .col-lg-8
                      label.checkbox
                        input(type='checkbox')
                        |                       I've read the 
                        a(href='page_terms.html') Terms and Conditions
                    .col-lg-4.text-right
                      button.btn.btn-action(type='submit') Register