extends layout

block content
	.container
		br
		.row
			center
				canvas(id='canvas', height='500' width='500' style='border: solid 1px black;')
block scripts
	script(type='text/javascript' src='/javascripts/snake.js')