extend layout

block content
  link(href='stylesheets/table.css', type='text/css', rel='stylesheet')
  .container
    header.page-header
        h1.page-title Tickets for #{user}
    
    if (!tickets)
      h2 Sorry, no tickets.
    else
      table#table.table.table-hover.table-mc-light-blue
        thead
          tr
            th ID
            th Location
            th Distance
            th Edit
            th Remove
        tbody
          each ticket, i in tickets
            tr
              td(data-title='ID', width='10%') #{i}
              td(data-title='Location', width='40%') #{ticket.location}
              td(data-title='Distance', width='30%') #{ticket.distance}
              td(data-title='Edit', width='10%') 
                a(href='#')
                  span.glyphicon.glyphicon-pencil(aria-hidden='true')
              td(data-title='Remove', width='10%')
                a(href='#')
                  span.glyphicon.glyphicon-trash(aria-hidden='true')
      
      form(action='/action/new_ticket')
        input(type='submit', value='New ticket', class="btn btn-primary")


