extend layout

block content
  .container
    .col-md-3
    .col-md-7
      h1 Tickets for #{user}
        if (!tickets)
          h2 Sorry, no tickets.
        else
          each ticket, i in tickets
            h3 Ticket #{i}
            p - Location: #{ticket.location}
            p - Distance: #{ticket.distance}
            br
    .col-md-2
block scripts