extends layout

block content
    html
      head
        title Timesheet
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/timesheet.css')
      .body
            h1 This is the company event log.
            p
              | In the field below, you need to full out the information.
              | Once you hit submit your event will be saved in a secured server. This log event is build according to the highest security standards.
            | Your HR will be notified via email.
            div
              form(action='timesheet/save', method='post')
                h2 Event log sheet
                span.error * required field.
                br
                br
                | First Name:
                input.input(name='name', type='text', value='')
                span.error * 
                | Last Name:
                input.input(name='lastname', type='text', value='')
                span.error * 
                br
                br
                | Last 4 of your SSN#:
                input.input(name='ssn', type='text', value='')
                span.error * 
                | Emplyee ID:
                input.input(name='emplyeeID', type='text', value='')
                span.error * 
                br
                br
                | E-mail:
                input.input(name='email', type='text', value='')
                span.error * 
                br
                br
                | Comment:
                br
                textarea#comment(name='comment', type='text', value='', rows='15', cols='80')
                br
                br
                input.submit(name='submit', type='submit', value='Submit')