video {
	min-height: 200px;
}

#messages, #user-list {
	overflow-y: scroll;
	height: 400px;
	border: solid thin;
	margin-bottom: 0px;
}

#message-box-wrapper {
	padding: 10px;
	border-style: solid;
	border-width: 0px thin thin thin;
}

#invalid-password-message {
	color: red;
	font-weight: thick;
}

.username-span {
	color: #009FFD
}