body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.tickets {
  border-style: solid;
  border-width: 1px;
}