body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#l-video {
	min-height: 200px;
}

video {
	min-height: 200px;
}

ul {
  list-style-type: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.tickets {
  border-style: solid;
  border-width: 1px;
}