body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
	min-height: 200px;
}

ul {
  list-style-type: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.tickets {
  border-style: solid;
  border-width: 1px;
}

#messages {
	overflow-y: scroll;
	min-height: 400px;
	max-height: 400px;
	border: solid thin;
}

#message-box-wrapper {
	padding: 10px;
	border-style: solid;
	border-width: 0px thin thin thin;
}