@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, footer, header, main, nav, section {
  padding: 5pxpx;
  margin: 15px;
}

.banner {
  background-color: #11233b;
  color: #666633;
  padding: 10px 20px;
}

body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0ebeb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

#navi {
  background-color: #666633;
  padding: 1px;
  margin-top: 1px;
  font-size: 10%;
}

li a {
  color: white;
}
#lottary{
  color: Red;
  text-align: left;
  
}

li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-variant: small-caps
}
table {
  width: 1000px;
    margin: 10px 10px 10px 10px;
  border: 5px solid black;
  border-collapse: collapse;
}

table, th, td {
    border: 5px solid #666633;
}
#container{
 height: 450px;
 width: 690px;
 margin: 15px auto;
}
#img{
  height: 450px;
  width 650px;
  position: absolute;
}
#left1{
  height: 450px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  
}
#right1{
  height: 450px;
  width: 100px;
  position: absolute;
  right: 0px;
  top:0px;
  
}
.left{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 70%;
  left: 530px;
}
.right{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 70%;
  right: 530px;
}
.accordion-toggle 
  { 
  cursor: pointer;
  }
  .accordion-content {
    display: none;
    }
  .accordion-content.default {
    display: block;
    }
